@import './colors.scss';
.accept-offer__heading {
	color: $primary-color;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.accept-offer__text {
	font-size: 1.125rem;
	color: $text-dark;
}
/* Styles for AccepteOffer component */
